doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ' crossorigin='anonymous')
  title= title
  link(rel='stylesheet' href='/style/main.css')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(type='text/javascript' src='https://cdn.socket.io/socket.io-1.4.5.js')
.container
  .row
    .col-md-5
      .card
        form.box(method='POST', action='/users/register')
          h1 Register
          p.text-muted Register
          input(type='text', name='username', placeholder='Username')

          input(type='password', name='password', placeholder='Password')

          input(type='submit', name='', value='Login', href='#')
